body {
    font-family: Poppins;
    margin: 0;
    background: #0f172a;
    color: white;
  }
  
 
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background: #0f172a;
  }
  
  nav a {
    color: #ccc;
    margin-left: 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #38bdf8;
  }
  
 
  .hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(#1e293b, #0f172a);
  }
  
  button {
    padding: 8px 15px;
    margin-top: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
  }
  
  
  .box {
    padding: 30px;
    text-align: center;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
 
  .card {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
  }
  
  .highlight {
    border: 2px solid #38bdf8;
  }
  
  
  footer {
    text-align: center;
    padding: 15px;
    background: #020617;
  }